.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(128, 128, 128, 0.6);
    border-radius: 5px;
    padding: 18px;
    width: fit-content;
    min-width: 250px;
}

.title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.controlInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number {
    padding: 10px;
    border: 1px solid rgba(25, 118, 210, 0.6);
    border-radius: 15px;
}

.icon {
    width: 25px;
    height: 25px;
}